<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Hiperdino_BlackFriday::blackfriday_configuration" title="Hiperdino - Configuración Black Friday"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::content">
                    <resource id="Hiperdino_BlackFriday::storepass" title="Hiperdino - Franjas Black Friday">
                        <resource id="Hiperdino_BlackFriday::storepass_timeslot" title="Hiperdino - Gestión franjas Black Friday"/>
                        <resource id="Hiperdino_BlackFriday::storepass_booking" title="Hiperdino - Ver reservas franjas Black Friday"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
