<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Singular_Delivery::delivery">
                        <resource id="Hiperdino_TimeslotRateException::rate" title="Tarifas" sortOrder="20"/>
                        <resource id="Hiperdino_TimeslotRateException::exception_rate" title="Excepciones de Tarifa" sortOrder="20"/>
                    </resource>
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Hiperdino_TimeslotRateException::hiperdino_timeslot_rate_exception_config" title="Hiperdino - Excepciones Tarifa"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>