<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Hiperdino_Dinitos::hiperdino_dinitos" title="Configuración Dinitos">
                                <resource id="Hiperdino_Dinitos::hiperdino_dinitos_history" title="Dinitos - Histórico" />
                                <resource id="Hiperdino_Dinitos::hiperdino_dinitos_rewards" title="Dinitos - Recompensas" />
                                <resource id="Hiperdino_Dinitos::hiperdino_dinitos_package" title="Dinitos - Paquetes" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
